.chatPage {
    background-color: #f6f3ff;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    min-height: 700px;
}

.chatPage ul {
    list-style: none;
}

.chatPage input {
    align-items: flex-end;
}

.otherMsg {
    border-radius: 0px 20px 20px 10px;
    background: #E6E7FE;
    max-width: 1010px;
    margin: 10px;
    max-height: 80px;
    padding: 5px 15px 5px;
}

.myMsg {
    float: right;
    border-radius: 10px 0px 20px 10px;
    background: #E6E7FE;
    max-width: 1010px;
    margin: 10px;
    max-height: 80px;
    padding: 5px 15px 5px;
}