.chatPage {
    background-color: #f6f3ff;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    min-height: 700px;
}

i {
    font-size: 10px;
    margin-bottom: 0;
    color: #a4a6d1;
}

.chatBox {
    display: flex;
    word-break: break-all;
    flex-flow: column wrap;
    list-style: none;
}